.admin-home {
    height: auto;
    padding: 9vh 3vw 8vh 6vw;
}

.uni-students,
.clg-students,
.placement-dtl {
    /* min-width: fit-content; */
    color: rgb(143, 143, 145);
    border-radius: 15px;
    border: none;
    box-shadow: 0 0 3px rgb(188, 188, 188);
    padding: 15px 20px 20px;
    margin-bottom: 15px;
    height: 500px;
}

.uni-students div,
.clg-graphs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: start; */
}


.uni-students div div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.uni-students div div div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.clg-dropdown {
    color: black;
    font-size: 16px;
    height: 100%;
    margin: 30px;
}

.clg-dropdown span {
    vertical-align: top;
}

.clg-dropdown select {
    font-size: 16px;
    background-color: #edf2ff;
    border-radius: 3px;
    border: 1px solid #afc5fd;
    outline: none;
    padding: 3px;
    color: rgb(85, 84, 84);
}

.org-info {
    height: 150px;
    width: 200px;
    color: white;
    background-color: #12b4b6;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.org-info2 {
    height: 60px;
    width: 250px;
    color: white;
    background-color: #12b4b6;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.org-info p,
.org-info2 p {
    height: fit-content;
}

.clg-graphs {
    flex-wrap: wrap;
    justify-content: space-between;
}

.clg-graphs .graph {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.graph table {
    color: black;
    font-size: 16px;
}

h3 {
    color: black;
}


.clg-placements {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh;
}


.placement-graphs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}