* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    color: black;
    font-size: 15px;
    line-height: 1.5;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#root {
    height: 100vh;
}